<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hammal</title>
    <link href="/public/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    <link rel="Shortcut Icon" href="/public/image/favicon.ico" type="image/x-icon" />
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/index.js"></script>
    <script src="/public/js/search.js"></script>
    <script src="/public/js/contact.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</head>
<body class="m-bg-dark">

<!--导航-->

        <nav class="navbar navbar-default navbar-inverse none-border margin-0" >

                <div class="navbar-header">
                    <a class="navbar-brand m-text-white" href="/">HAMMAL <span class="glyphicon glyphicon-forward"></span> </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-header ">
                        <li><a class="navbar-brand page-scroll" href="/" >首页</a></li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle navbar-brand page-scroll" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                音乐<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ><a href="/main"  class="padded-10">全部</a></li>
                                {% for category in categories%}
                                <li role="presentation"><a href="/main?category={{category.id}}"  class="padded-10">{{category.name}}频道</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a class="navbar-brand page-scroll" href="/news" >新闻</a></li>
                        <li><a class="navbar-brand page-scroll" href="/about" >关于我们</a></li>
                        <li><a class="navbar-brand page-scroll" href="/contact" >在线留言</a></li>
                    </ul>


                {% if userInfo._id %}
                <div class="navbar-header navbar-right padded-r-15">
                    {% if userInfo.isAdmin %}

                    <div class="navbar-brand m-text-white " ><span>{{userInfo.username}}</span>,<span><a href="/admin">CLICK To Admin</a></span>!</div>

                    {% else %}


                    <div class="navbar-brand m-text-white " ><span>{{userInfo.username}}</span>,welcome to my blog</div>

                    {% endif %}
                    <form class="navbar-form navbar-right ">
                        <button type="button" class="btn btn-default" id="logout">Logout</button>
                    </form>
                </div>
                {% else %}
                <form class="navbar-form navbar-right" style="margin-right: 5px" id="loginBox">
                    <button type="button" class="btn btn-danger hidden text-gbb" id="loginMsg" style="cursor: default"></button>
                    <button type="button" class="btn btn-danger hidden" id="tip"><span class="text-gbb"  style="cursor: default">HERE!</span> </button>
                    <div class="form-group ">
                        <input type="text" class="form-control"  name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control"  name="password" placeholder="Password">
                    </div>
                    <button type="button" class="btn btn-default" id="loginBtn">Login</button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Sign </button>
                </form>
                {% endif %}
                </div>
        </nav>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Sign in</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="registerBox">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control"  name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="repassword" placeholder="rePassword">
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-sm-offset-2 col-sm-10">
                            <label>
                                <p id="signMsg"></p>
                            </label>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="sign">Sign</button>
            </div>
        </div>
    </div>
</div>
<!--博文-->

{%block content%}{%endblock%}

<section class="container-fluid margin-t-15 padded-10 navbar-inverse text-center cate-bg">
    <h3 style="color: #FFFFFF">END</h3>
</section>

</body>
</html>