    <script src="/public/js/renderRightSide.js"></script>
<div class="container col-md-3" id="rightSide">
    <div class=" padded-t-15 panel panel-default">
        <ol class="breadcrumb margin-0">
            <li>推荐文章</li>
        </ol>
        <div class=" padded-l-5 padded-r-5  padded-b-10" id="newsRecommed">
            <img  class="center-block img-responsive" src="/public/image/loading.gif">
        </div>
    </div>
    <div class=" padded-t-15 panel panel-default">
        <ol class="breadcrumb margin-0">
            <li>推荐音乐</li>
        </ol>
        <div class=" padded-l-5 padded-r-5  padded-b-10" id="musicRecommed">
            <img  class="center-block img-responsive" src="/public/image/loading.gif">
        </div>
    </div>
    <div class=" panel panel-default">
        <a href="/about">
            <img  class="center-block img-responsive" src="/public/image/about.png">
        </a>
    </div>
    <div class=" panel panel-default">
        <a href="/contact">
            <img  class="center-block img-responsive" src="/public/image/contact.png">
        </a>
    </div>
</div>